/nbproject/
/minibuddy/nbproject/private/
/teams.php
/pipo_vs_tk.txt
/kausi2018-2019.txt
/core/sql/
/config/config.php
/mateet.php
/fishfix/
/buddyconnect/playlog.partial.txt
/buddyconnect/playlog.full.txt